<m-container>
    <br><br>
    <h2>Register Your Car</h2>
    
    <form class="pure-form pure-form-stacked">
        <label for="make">Make</label>
        <input id="make" type="text" [(ngModel)]="make" [ngModelOptions]="{standalone:true}"> 

        <label for="model">Model</label>
        <input id="model" type="text" [(ngModel)]="model" [ngModelOptions]="{standalone:true}"> 
        
        <label for="year">Year</label>
        <input id="year" type="number" min="1990" max="2024" [(ngModel)]="year" [ngModelOptions]="{standalone:true}">   
        
        <label for="price">Price</label>
        <input id="price" type="number" min="1000" max="5000000" [(ngModel)]="price" [ngModelOptions]="{standalone:true}">  
        
        <label for="descr">Description of car</label>
        <input id="descr" type="string" [(ngModel)]="desc" [ngModelOptions]="{standalone:true}">  

        <label for="url">Image URL</label>
        <input id="url" type="string" [(ngModel)]="url" [ngModelOptions]="{standalone:true}">  
    </form>
    <button *ngIf="!isUpdating" class="pure-button" (click)="addCar()"> Add Car </button>
    <button *ngIf="isUpdating" class ="pure-button" (click)=" newDetails()"> Update </button>
    <button class="pure-button" (click)="removeAll()"> Remove All Cars </button>
  
     <m-search-button (search)="filterTerm = $event"></m-search-button>
     <m-table
        [data]="listofcars"
        [filterTerm]="filterTerm"
        [tableHeaders]="headers"
        [showDeleteButton]="true"
        [showCaption]="true"
        [showMoreDetails]="true"
        [showBuy] = "true"
        [showUpdate] = "true"
        caption="Cars Available for Purchase"
        (remove)="removeCar($event)"
        (navigate)="navigateCar()"
        (buy)="buyCar($event)"
        (update)="updateCar($event)"
     ></m-table>
</m-container>
